# HTTP SERVER
HOST=localhost
PORT=3000

# POSTGRES
PGHOST=localhost
PGUSER=your_db_user
PGDATABASE=your_db_name
PGPASSWORD=your_db_password
PGPORT=5432

# POSTGRES TEST
PGHOST_TEST=localhost
PGUSER_TEST=your_test_db_user
PGDATABASE_TEST=your_test_db_name
PGPASSWORD_TEST=your_test_db_password
PGPORT_TEST=5432
DATABASE_URL=postgresql://your_test_db_user:your_test_db_password@localhost:5432/your_test_db_name

# TOKENIZE
ACCESS_TOKEN_KEY=your_access_token_key
REFRESH_TOKEN_KEY=your_refresh_token_key
ACCESS_TOKEN_AGE=3000
