# POSTGRES TEST
PGHOST=localhost
PGUSER=your_test_db_user
PGDATABASE=your_test_db_name
PGPASSWORD=your_test_db_password
PGPORT=5432
DATABASE_URL=postgresql://your_test_db_user:your_test_db_password@localhost:5432/your_test_db_name

# TOKENIZE
ACCESS_TOKEN_KEY=your_access_token_key
REFRESH_TOKEN_KEY=your_refresh_token_key
ACCESS_TOKEN_AGE=3000
